// index page css
body {
    background-color: black;
}

body h1 {
    color: white;
    font-size: 56px;    
}

.all-champs-list, .filtered-champs-list {
    position: relative;
    left: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    justify-content: center;
    padding: 50px;
}

.all-champs-list figure, .filtered-champs-list figure {
    width: 150px;
    height: 230px;
}

.all-champs-list h2, .filtered-champs-list h2 {
    color: white;
}

#filter-buttons {
    display: flex;
    color: white;
}

#buttons-label {
    font-size: 18px;
}

// .all-champs-list li {
//     margin: 10px;
// }

.all-champs-list img, .filtered-champs-list img {
    width: 100px;
    height: auto;
    transition: width 0.5s;
}

.all-champs-list img:hover, .filtered-champs-list img:hover {
    width: 112px;
    height: auto;
    transition: width 0.5s;
}

// ****************************************
//filtered page css


// ****************************************

// single champ page css
.single-champ-page h1 {
    font-size: 48px;
    color: white;
}
