// index page css
body {
    background-color: #010a13;
    background-image: url("../src/assets/CelebrationBg_Arcade_2019.png");
    background-repeat: repeat-x;
    margin: 20px 0px 0px 20px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 14px;
    text-shadow: 1px 1px black;
}

.index-page {
    position: absolute;
}

#filter-buttons {
    display: flex;
    height: 50px;
    width: 510px;
    color: white;
    font-size: 14px;
}

input[type="radio"]:nth-of-type(1) {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background-size: 115%;
    background-image: url("../src/assets/filter\ buttons/all.png");

}

input[type="radio"]:nth-of-type(2) {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background-image: url("../src/assets/filter\ buttons/fighter.png");
    background-size: 130%;
}

input[type="radio"]:nth-of-type(3) {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-size: 100%;
    background-image: url("../src/assets/filter\ buttons/tank.png");
}

input[type="radio"]:nth-of-type(4) {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-size: 100%;
    background-image: url("../src/assets/filter\ buttons/marksman.png");
}

input[type="radio"]:nth-of-type(5) {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-size: 120%;
    background-image: url("../src/assets/filter\ buttons/mage.png");
}

input[type="radio"]:nth-of-type(6) {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-size: 95%;
    background-image: url("../src/assets/filter\ buttons/assassin.png");
}

input[type="radio"]:nth-of-type(7) {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-image: url("../src/assets/filter\ buttons/support.png");
    background-size: 95%;
}

// input[type="radio"]:checked + img {
//     // position: absolute;
//     outline: 2px solid black;
// }

#buttons-label {
    font-size: 12px;
}

#main-header {
    display: inline;
    color: rgb(255, 255, 255);
    font-size: 46px;    
    font-family: 'Asul', sans-serif;
    // text-shadow: 1px 1px rgb(0, 0, 0);
    // border: 3px solid rgb(255, 255, 255);
    // text-decoration: underline;
}

.all-champs-list {
    position: relative;
    // left: -45px;
    // left: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 520px;
    justify-content: center;
    // padding: 10px 0px 0px 10px;
    padding: 10px;
    // background: rgba($color: #3135ff, $alpha: 0.5);
}

.all-champs-list figure{
    width: 130px;
    height: 230px;
}

.all-champs-list li {
    display: flex;
    flex-direction: column;
}

.all-champs-list h3 {
    color: white;
}

.all-champs-list img {
    width: 100px;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    transition: width 0.5s;
}

.all-champs-list img:hover {
    width: 109px;
    height: auto;
    transition: width 0.5s;
}

#welcome {
    // display: flex;
    // display: inline-block;
    position: relative;
    left: 600px;
    top: 150px;
    font-family: 'Asul', sans-serif;
    font-size: 18px;
    width: 500px;
    color: white;
}

// *****************************************************

// single champ page css

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@keyframes slide-in-bg {
    0% {
        background-position: initial;
    }
    100% {
        background-position: left;
    }
}

.single-champ-page {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 620px;
    height: 500px;
    color: white;
    // background-size: cover;
    // background-position-x: 80%;
    position: fixed;
    left: 550px;
    top: 20px;
    box-shadow: inset 0px 0px 50px 50px rgb(0, 0, 0);
    border: solid 25px rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    overflow: hidden;
    z-index: 0;
    animation: slide-left 1.5s;
}

.champ-details #right-arrow, #champ-lore, #champ-spell-list {
    position: relative;
    z-index: 1;
}

#bg-img {
    position: absolute;
    top: 0px;
    width: 900px;
    height: auto;
    object-position: -200px;
    z-index: -1;
}

#right-arrow {
    color: white;
    font-size: 24px;
    left: 600px;
    bottom: 75px;
}

.single-champ-page h3 {
    font-family: 'Asul', sans-serif;
    font-size: 24px;
    margin: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(0, 0, 0);
    animation: slide-left 2s;
}

.champ-details #champ-lore {
    // position: relative;
    width: 620px;
    font-size: 14px;
    color: lightgrey;
    background: rgba($color: #000000, $alpha: 0.3);
    text-align: center;
}

.single-champ-page #champ-spell-list {
    display: flex;
    width: 620px;
    font-size: 11px;
    color: rgb(217, 217, 217);
    background: rgba($color: #000000, $alpha: 0.3);
    // animation: slide-left 2s;
}

#champ-spell-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 150px;
    height: 100px;
    overflow: scroll;
    scrollbar-width: none;
}

#champ-spell-list li::-webkit-scrollbar {
    display: none;
}

// #champ-spell-list p {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
//     // margin: 3px;
//     // justify-content: center;
// }

#champ-spell-list h4 {
    color: rgb(226, 83, 36);
    font-size: 12px;
}

// doesn't work?
// #champ-spell-list h4 #ult {
//     color: rgb(115, 0, 0);
// }


.single-champ-page img:not(#bg-img) {
    width: 30px;
    height: auto;
    border: 2px solid black;
    // animation: slide-left 2s;
}