// index page css
header {
    display: flex;
    justify-content: space-between;
}

.index-page {
    position: relative;
}

#main-header {
    color: rgb(255, 255, 255);
    font-size: 84px;    
    font-family: 'Staatliches', cursive;
    -webkit-text-fill-color: transparent;
    background-image: url("../src/assets/night-light-background-bokeh-blur-600w-1850702212.webp");
    -webkit-background-clip: text;
    background-position: 90% 90%;
    opacity: 0.9;
}

span {
    color: white;
    font-size: 32px;
    margin-right: 10px;
}

a:any-link {
    color: rgba(255, 255, 255, 0.416);
    text-decoration: none;
}

a:hover {
    color: white;
}

#play-btn, #pause-btn {
    color: white;
}

body:not(#main-header) {
    background-color: #010a13;
    background-image: url("../src/assets/StarGuardian19_Celebration_BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 0px 0px 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


#filter-buttons {
    display: flex;
    justify-content: flex-end;
    width: 35%;
    color: rgba(255, 255, 255, 0.766);
    font-size: 24px;
    margin-bottom: 10px;
}


input[type="radio"]:nth-of-type(1) {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-size: 125%;
    background-image: url("../src/assets/filter\ buttons/all.png");
    
    &:hover {
        cursor: pointer;
    }
}

input[type="radio"]:nth-of-type(2) {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background-image: url("../src/assets/filter\ buttons/fighter.png");
    background-size: 125%;
    
    &:hover {
        cursor: pointer;
    }
}

input[type="radio"]:nth-of-type(3) {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-size: 100%;
    background-image: url("../src/assets/filter\ buttons/tank.png");
    
    &:hover {
        cursor: pointer;
    }
}

input[type="radio"]:nth-of-type(4) {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-size: 100%;
    background-image: url("../src/assets/filter\ buttons/mage.png");
    
    &:hover {
        cursor: pointer;
    }
}

input[type="radio"]:nth-of-type(5) {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-size: 100%;
    background-image: url("../src/assets/filter\ buttons/marksman.png");
    
    &:hover {
        cursor: pointer;
    }
}


input[type="radio"]:nth-of-type(6) {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-size: 95%;
    background-image: url("../src/assets/filter\ buttons/assassin.png");
    
    &:hover {
        cursor: pointer;
    }
}

input[type="radio"]:nth-of-type(7) {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-image: url("../src/assets/filter\ buttons/support.png");
    background-size: 95%;
    
    &:hover {
        cursor: pointer;
    }
}

.all-champs-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    height: 1000px;
    justify-content: center;
    padding: 10px;
    background: rgba($color: #000000, $alpha: 0.5);
    overflow: scroll;
}

.all-champs-list::-webkit-scrollbar {
    display: none;
}

.all-champs-list figure {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 200px;
    
}

.all-champs-list li {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.all-champs-list h3 {
    color: rgb(168, 168, 168);
    text-shadow: 1px 1px black;
    font-size: 20px;
}

.all-champs-list img {
    width: 90px;
    height: auto;
    border: 2px solid rgba(0, 0, 0);
    transition: width 0.5s;
}

.all-champs-list img:hover{
    width: 100px;
    height: auto;
    transition: width 0.5s;
}

.all-champs-list figure:hover h3 {
    color: white;
}

#welcome {
    position: absolute;
    left: 55%;
    top: 40%;
    font-size: 30px;
    width: 500px;
    color: rgba(255, 255, 255, 0.8);
}



// single champ page css

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

.single-champ-page {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    align-content: space-between;
    width: 55%;
    height: 75%;
    color: white;
    top: 10%;
    left: 40%;
    border: solid 25px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 0;
    animation: slide-left 1.5s;
}

.champ-details #champ-lore, #champ-spell-list {
    position: relative;
    z-index: 1;
}

#bg-img {
    position: absolute;
    top: -20%;
    left: -20%;
    object-fit: contain;
    width: 130%;
    height: 130%;
    z-index: -1;
    animation: fade-in 1.5s;
}

#right-arrow {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 28px;
    left: 97%;
    bottom: 50%;
    z-index: 3;
}

#right-arrow:hover {
    color: white;
}

.single-champ-page h3 {
    font-size: 48px;
    margin: 15px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px rgb(0, 0, 0);
    animation: slide-left 2s;
}

.champ-details #champ-lore {
    width: 100%;
    font-size: 28px;
    color: lightgrey;
    background: rgba($color: #000000, $alpha: 0.3);
    text-shadow: 1px 1px black;
    text-align: center;
}

.single-champ-page #champ-spell-list {
    display: flex;
    width: 100%;
    font-size: 24px;
    color: rgb(217, 217, 217);
    background: rgba($color: #000000, $alpha: 0.3);
    text-shadow: 1px 1px black;
}

#champ-spell-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 100%;
    height: 150px;
    overflow: scroll;
    scrollbar-width: none;
}

#champ-spell-list li::-webkit-scrollbar {
    display: none;
}

#champ-spell-list h4 {
    color: rgb(226, 83, 36);
    font-size: 24px;
}

.single-champ-page img:not(#bg-img) {
    width: 30px;
    height: auto;
    border: 2px solid black;
}


@media only screen and (max-height: 1080px) { 
    #main-header {
        font-size: 64px;
    }

    #filter-buttons {
        font-size: 16px;
    }

    .all-champs-list {
        height: 750px;
    }

    .all-champs-list h3 {
        font-size: 14px;
    }

    .single-champ-page {
        top: 15%;
    }

    .single-champ-page #champ-lore, {
        font-size: 24px;
    }

    .single-champ-page #champ-spell-list {
        font-size: 20px;
    }

    #champ-spell-list li {
        height: 120px;
    }

    #bg-img {
    top: -15%;
    left: -20%;
    width: 120%;
    height: 120%;
    }

    .single-champ-page h3 {
        font-size: 24px;
    }

    #welcome {
        left: 50%;
        top: 40%;
        font-size: 20px;
    }

    #champ-spell-list h4 {
        color: rgb(226, 83, 36);
        font-size: 13px;
    }

}

@media only screen and (max-height: 800px) {
    .all-champs-list h3 {
        font-size: 14px;
    }

    #filter-buttons {
        font-size: 13px;
    }

    .all-champs-list {
        height: 400px;
    }

    .single-champ-page #champ-lore, {
        font-size: 15px;
    }

    .single-champ-page #champ-spell-list {
        font-size: 13px;
    }

    #champ-spell-list li {
        height: 100px;
    }

    #bg-img {
    top: -10%;
    left: -20%;
    width: 120%;
    height: 120%;
    }
}
